/* -------begin customization-------- */ /* simply assign the value */
// $dark: #38302e;
// $primary: #6f6866;
// $secondary: #788585;
// $tertiary: #9caea9;
// $light: #ccdad1;

$base: #0b0c10;
$layer: #1f2833;
$light: #c5c6c7;
$primary: #45a29e;
$secondary: #66fcf1;
$white: #eee;

/*
$theme-colors: (
  "primary":    ..,
  "secondary":  ..,
  "success":    ..,
  "info":       ..,
  "warning":    ..,
  "danger":     ..,
  "light":      ..,
  "dark":       ..
);
*/

$theme-colors: (
  primary: $primary,
  // secondary: $secondary,
    // tertiary: $tertiary,
    dark: $layer,
  light: $light,
);
/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import '~bootstrap/scss/bootstrap';
